<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22A5321d</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleALC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.AppleALC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleALC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.7.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A5294e</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.0</string>
	<key>DTSDKBuild</key>
	<string>22A5321d</string>
	<key>DTSDKName</key>
	<string>macosx13.0</string>
	<key>DTXcode</key>
	<string>1400</string>
	<key>DTXcodeBuild</key>
	<string>14A5294e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ALCUserClientProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>ALCUserClientProvider</string>
			<key>IOMatchCategory</key>
			<string>ALCUserClientProvider</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOHDACodecDevice</string>
			<key>IOUserClientClass</key>
			<string>ALCUserClient</string>
		</dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>toleda -  Realtek ALCS1200A</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXcc8AF3
					HQABdx4AAXcfQAGHHEABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAaccUAGnHTABpx6B
					AacfAQG3HHABtx1AAbceIQG3HwIB5xyQAecd
					YQHnHksB5x8BARcc8AEXHQABFx4AARcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>toleda -  Realtek ALCS1200A</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAFXHPABVx0AAVce
					AAFXH0ABZxzwAWcdAAFnHgABZx9AAXcc8AF3
					HQABdx4AAXcfQAGHHEABhx1gAYceAQGHHwEB
					lxxgAZcdkAGXHqABlx+QAaccUAGnHRABpx4B
					AacfAQG3HHABtx1AAbceIQG3HwIB5xyQAecd
					YQHnHksB5x8BARcc8AEXHQABFx4AARcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>toleda -  Realtek ALCS1200A</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAFXHPABVx0AAVce
					AAFXH0ABZxzwAWcdAAFnHgABZx9AAXcc8AF3
					HQABdx4AAXcfQAGHHEABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAaccUAGnHTABpx6B
					AacfAQG3HHABtx1AAbceIQG3HwIB5xyQAecd
					YQHnHksB5x8BARcc8AEXHQABFx4AARcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>ALCS1200A for B550M Gaming Carbon WIFI by Kila2</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHVABRx4RAUcfkQFHDAIBZxwgAWcd
					EAFnHgEBZx8BAVccMAFXHRABVx4BAVcfAQGH
					HEABhx0QAYceoQGHH5EBpxxQAacdEAGnHoEB
					px8BAZccYAGXHZABlx6BAZcfAgG3HHABtx1A
					AbceIQG3HwIBtwwCAecckAHnHREB5x5FAecf
					AQEXHPABFx0AARceAAEXH0ABdxzwAXcdAAF3
					HgABdx9AAgUABwIEfKM=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>owen0o0 -  Realtek ALCS1200A</string>
					<key>ConfigData</key>
					<data>
					AUccQAFHHVABRx4RAUcfkAFHDAIBZxxhAWcd
					EAFnHgEBZx8BAVccYgFXHRABVx4BAVcfAQG3
					HFABtx1AAbceIQG3HwIBtwwCAecccAHnHREB
					5x5FAecfAQGHHBABhx0QAYceoQGHH5ABpxwg
					AacdEAGnHoEBpx8BAZccgAGXHZABlx6hAZcf
					AgF3HPABdx0AAXceAAF3H0ABFxzwARcdAAEX
					HgABFx9AAgUABwIEfKM=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>VictorXu -  Realtek ALCS1200A for Asrock Z490M-ITX</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkQFHDAIBtxwgAbcd
					QAG3HiEBtx8CAbcMAgGHHDABhx2QAYceoQGH
					H5EBpxw/AacdMAGnHoEBpx8BAZccQAGXHZAB
					lx6BAZcfAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>49</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>VictorXu -  Realtek ALCS1200A for Gigabyte B460M Aorus Pro</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkQFHDAIBZxwRAWcd
					YAFnHgEBZx8BAVccEgFXHRABVx4BAVcfAQF3
					HBQBdx0gAXceAQF3HwEBtxwgAbcdQAG3HiEB
					tx8CAbcMAgGHHEABhx2QAYceoQGHH5EBpxxP
					AacdMAGnHoEBpx8BAZccUAGXHZABlx6BAZcf
					Ag==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>50</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>GeorgeWan - ALCS1200A for ASROCK Z490 Steel Legend</string>
					<key>ConfigData</key>
					<data>
					ARcc8AEXHQABFx4AARcfQAFHHBABRx1AAUce
					EQFHH5ABRwwCAVccIAFXHRABVx4BAVcfAQFn
					HDABZx1gAWceAQFnHwEBdxzwAXcdAAF3HgAB
					dx9AAYccQAGHHZABhx6gAYcfkAGXHGABlx2Q
					AZcegQGXHwIBpxxQAacdMAGnHoEBpx8BAbcc
					cAG3HUABtx4hAbcfAgG3DAIB5xyAAecdYQHn
					HksB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>51</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283904768</integer>
					<key>CodecName</key>
					<string>Lorys89 and Vorshim92 - ALCS1200A for ASROCK Z490M ITX AC</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAFHDAIBhxwgAYcd
					kAGHHqABhx+QAZccMAGXHZABlx6BAZcfAgGn
					HEABpx0wAacegQGnHwEBtxxQAbcdQAG3HiEB
					tx8CAbcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>69</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
